
<h3>Mes tâches</h3>

<table class="table table-striped title-blue">
  <thead>
    <tr>
      <th>N°</th>
      <th>Client</th>
      <th>Projet</th>
      <th>Nom</th>
      <th>Date</th>
      <th>Web Mastering</th>
      <th>Temps passé</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let taskInfos of tasks">
      <td>
        {{ taskInfos.task.taskNumber }}
      </td>
      <td *ngIf="taskInfos.task.project.client; else emptyTd">
        {{ taskInfos.task.project.client.lastName|uppercase }} {{ taskInfos.task.project.client.firstName }}
      </td>
      <td>
        {{ taskInfos.task.project.name }}
      </td>
      <td>
        {{ taskInfos.task.name }}
      </td>
      <td>
        {{ taskInfos.task.createAt|date: "dd/MM/yyyy HH:mm:ss" }}
      </td>
      <td *ngIf="taskInfos.task.isWebMastering; else emptyTd">
        <fa-icon class="success" [icon]="faCheck"></fa-icon>
      </td>
      <td>
        {{ taskInfos.task.duration }}h
      </td>
      <td>
        <button (click)="duplicateTask(taskInfos.id)" title="Dupliquer la tâche" class="btn btn-hover">
          <fa-icon [icon]="faCopy"></fa-icon>
        </button>
<!--        <button (click)="deleteTask(taskInfos.id)" title="Supprimer la tâche" class="btn btn-hover">-->
<!--          <fa-icon [icon]="faTrash"></fa-icon>-->
<!--        </button>-->
      </td>
    </tr>
  </tbody>
</table>

<ng-template #emptyTd>
  <td>

  </td>
</ng-template>
