
.dashboard-layout {
    display: flex;
    flex-direction: row;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 992px) {
        width: 300px;
        min-height: 100vh;
    }

    .collapse-wrapper.collapse {
        width: 100%;
        height: 100%;
    }

    .menu {
        height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .side-menu-tabs {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            flex-grow: 1;
        }
    }
}

