
<h3>Utilisateurs</h3>

<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <table class="table table-striped title-blue">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let userInfo of users">
            <td>
                {{ userInfo.user.lastName|uppercase }}
            </td>
            <td>
                {{ userInfo.user.firstName }}
            </td>
            <td>
                {{ userInfo.user.email }}
            </td>
            <td>
                {{ userInfo.user.phone }}
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                <input [(ngModel)]="user.lastName" type="text" class="form-control" id="lastName" name="lastName" required>
            </th>
            <th>
                <input [(ngModel)]="user.firstName" type="text" class="form-control" id="firstName" name="firstName" required>
            </th>
            <th>
                <input [(ngModel)]="user.email" type="text" class="form-control" id="email" name="email" required>
            </th>
            <th>
                <input [(ngModel)]="user.phone" type="text" class="form-control" id="phone" name="phone" required>
            </th>
            <th>
                <button (click)="addUser(); userForm.reset()" title="Créer utilisateur" class="btn btn-hover">
                    <fa-icon class="btn-drosalys-blue" [icon]="faPlusCircle"></fa-icon>
                </button>
            </th>
        </tr>
        </tbody>
    </table>
</form>
