
<div class="dashboard-layout">

    <app-side-menu></app-side-menu>

    <main class="container-fluid px-sm-2 px-md-5">

        <h3>Les clients</h3>

        <table class="table table-striped title-blue">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clientInfo of clients">
<!--                        <ng-template [ngIf]="edit = clientInfo.id">-->
<!--                            -->
<!--                        </ng-template>-->

<!--                        <ng-template [ngIf]="edit != clientInfo.id" my-componet>-->

<!--                        </ng-template>-->

                    <td>
                        {{ clientInfo.client.lastName }}
                    </td>
                    <td>
                        {{ clientInfo.client.firstName }}
                    </td>
                    <td>
                        {{ clientInfo.client.phone }}
                    </td>
                    <td>
                        {{ clientInfo.client.email }}
                    </td>
                    <td>
                        <button (click)="deleteClient(clientInfo.id);" title="Supprimer client" class="btn btn-hover">
                            <fa-icon class="btn-drosalys-blue" [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-form-clients>
        </app-form-clients>
    </main>
</div>
