

<div class="card center-h-v">
  <div class="card-body">
    <img class="center-h" src="../../assets/images/trackrIllustrator.png" alt="logo-trackr">
    <div *ngIf="!user">
      <form>
        <div>
          <label for="email" class="form-label"></label>
          <input type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="mb-2">
          <label for="password" class="form-label"></label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div>
          <a href="#">Mot de passe oublié</a>
        </div>
        <button (click)="login()" class="btn btn-drosalys-red center-h">Valider</button>
      </form>
    </div>
  </div>
</div>


