

<!--<div class="header col-12 p-5 mb-5">-->
<!--  <nav class="navbar navbar-expand-lg navbar-light">-->
<!--&lt;!&ndash;      <img class="float-start w-25" src="assets/images/trackrIllustrator.png" alt="">&ndash;&gt;-->
<!--      <div class="collapse navbar-collapse col-12 col-md-8">-->
<!--        <ul class="navbar-nav">-->
<!--          <li>-->
<!--            <a class="nav-link active" routerLink="/tasks">-->
<!--              Liste des tâches-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a class="nav-link" routerLink="/users">-->
<!--              Liste des collaborateurs-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--  </nav>-->
<!--</div>-->

<div class="container">
  <!--<app-tasks></app-tasks>-->
  <router-outlet></router-outlet>
</div>
