
.btn {
  &.btn-danger {
    background-color: $danger;
    color: white;
  }
}

.btn-hover {
  &:hover {
    color: $drosalys-red;
  }
}

.btn-drosalys-red {
  color: $btn-white;
  background-color: $drosalys-red;
  &:hover {
    color: $btn-white;
    background-color: $drosalys-blue;
  }
}

