
.form-group {
  label {
    color: $primary;
    text-decoration: underline;
    &:after {
      content: " : ";
    }
  }

  .form-control {
    display: block;
    border: solid 0.05em $primary;
    border-radius: 0.3em;
  }
}
