
.header {
  box-shadow: 1px -5px 13px 3px $drosalys-blue;
  width: 100%;
}

h1, h2, h3 {
  color: $drosalys-red;
}

.title-blue {
  thead > tr > th {
    color: $drosalys-blue;
  }
}

body {
  background-color: $background-global;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.center-h {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-h-v {
  display: block;
  margin: auto;
  width: 80%;
  padding: 10px;
}
