
<div class="side-menu">
    <button class="menu-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#side-menu" aria-controls="side-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse-wrapper collapse" id="side-menu">
        <div class="menu">
            <div class="profil">
            </div>
            <div class="side-menu-tabs">
                <button class="side-menu-tab collapsed"
                        id="task-menu-tab"
                        data-bs-toggle="collapse"
                        data-bs-target="#my-tasks"
                        aria-expanded="false"
                        aria-controls="my-tasks"
                >
                    <span class="menu-title">
                        Mes tâches
                    </span>
                    <i class="icon-tab-action"></i>
                </button>
            </div>
        </div>
    </div>
</div>
